@page "/"
@inject IJSRuntime JSRuntime
@inject FoodService foodService
@inject IHttpContextAccessor HttpContextAccessor
@inject NotificationService notificationService

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a @onclick="() => ScrollToHome()" class="btn btn-link nav-link nav-home active">Home</a>
            </li>
            <li class="nav-item">
                <a @onclick="() => ScrollToInfo()" class="btn btn-link nav-link nav-info">Info</a>
            </li>
            <li class="nav-item">
                <a @onclick="() => ScrollToForm()" class="btn btn-link nav-link nav-form">Form</a>
            </li>
            <li class="nav-item">
                <a @onclick="() => ScrollToVisualization()" class="btn btn-link nav-link nav-visualization">Visualization</a>
            </li>
            <li class="nav-item">
                <a @onclick="() => ScrollToTips()" class="btn btn-link nav-link nav-tips">Tips</a>
            </li>
        </ul>
    </div>
</nav>
    <div id="home" class="content-section" style="background-color: green;">
        <h2>Home</h2>
    </div>
    <div id="info" class="content-section" style="background-color: blue;">
        <h2>Info</h2>
    </div>
    <div id="form" class="content-section" >
        <div id="form-input-area">
            <RadzenTemplateForm Data="@foodFormModel" >
                <RadzenRow>
                    <RadzenColumn Size="3" class="rz-color-on-info-lighter rz-p-5">
                        <RadzenFieldset>
                            <HeaderTemplate>
                                <span class="d-inline-flex align-items-center align-middle">
                                    <img src="svg/wheat.svg" />
                                <b style="margin-left: 5px; font-size:smaller;">Cereals, Grains, and Tubers (kg)</b>
                                </span>
                            </HeaderTemplate>
                            <ChildContent>
                                <RadzenStack>
                                    <RadzenRow>
                                        <RadzenDropDown @bind-Value=@foodFormModel.CerealsId Data=@vegetablesList TextProperty="FoodName" ValueProperty="FoodId" AllowClear=true Placeholder="Select product" Style="width: 100%; max-width: 400px;" AllowVirtualization="true"
                                                        AllowFiltering="true" />
                                    </RadzenRow>
                                    <RadzenRow>
                                        <RadzenColumn class="centered-content" Size="2">
                                            <RadzenButton Icon="remove" ButtonStyle="ButtonStyle.Light" Click="MinusCereals" />
                                        </RadzenColumn>
                                        <RadzenColumn class="centered-content" Size="8">
                                            <RadzenNumeric @bind-Value=@foodFormModel.CerealsAmount ShowUpDown="false" Name="Cereal"></RadzenNumeric>
                                        </RadzenColumn>
                                        <RadzenColumn class="centered-content" Size="2">
                                            <RadzenButton Icon="add" ButtonStyle="ButtonStyle.Light" Click="AddCereals" />
                                        </RadzenColumn>
                                    </RadzenRow>
                                    <RadzenRow>
                                        <RadzenNumericRangeValidator Component="Cereal" Min="0" Text="Quantity should be bigger than 0" Popup=true Style="position: absolute; margin-top: -1rem;" />
                                    </RadzenRow>
                                    <RadzenRow Style="justify-content: center !important;">
                                        <RadzenButton Style="width: 100%; margin-top: -1rem;" ButtonStyle="ButtonStyle.Success" Click="SaveCereals" ButtonType="ButtonType.Submit">Add</RadzenButton>
                                    </RadzenRow>
                                </RadzenStack>
                            </ChildContent>
                        </RadzenFieldset>
                    </RadzenColumn>

                    <RadzenColumn Size="3" class="rz-color-on-info-lighter rz-p-5">
                        <RadzenFieldset>
                            <HeaderTemplate>
                                <span class="d-inline-flex align-items-center align-middle">
                                    <img src="svg/pepper.svg" />
                                    <b style="margin-left: 5px; font-size:smaller;">Fruits, Cereals, and Nuts (kg)</b>
                                </span>
                            </HeaderTemplate>
                            <ChildContent>
                                <RadzenStack Gap="1rem">
                                    <RadzenRow>
                                        <RadzenDropDown @bind-Value=@foodFormModel.FruitsId Data=@fruitsList TextProperty="FoodName" ValueProperty="FoodId" AllowClear=true Placeholder="Select product" Style="width: 100%; max-width: 400px;" AllowVirtualization="true"
                                                        AllowFiltering="true" />
                                    </RadzenRow>
                                    <RadzenRow>
                                        <RadzenColumn class="centered-content" Size="2">
                                            <RadzenButton Icon="remove" ButtonStyle="ButtonStyle.Light" Click="MinusFruits" />
                                        </RadzenColumn>
                                        <RadzenColumn class="centered-content" Size="8">
                                            <RadzenNumeric @bind-Value=@foodFormModel.FruitsAmount ShowUpDown="false" Name="Fruit"></RadzenNumeric>
                                        </RadzenColumn>
                                        <RadzenColumn class="centered-content" Size="2">
                                            <RadzenButton Icon="add" ButtonStyle="ButtonStyle.Light" Click="AddFruits" />
                                        </RadzenColumn>
                                    </RadzenRow>
                                    <RadzenRow>
                                        <RadzenNumericRangeValidator Component="Fruit" Min="0" Text="Quantity should be bigger than 0" Popup="true" Style="position: absolute; margin-top: -1rem;"></RadzenNumericRangeValidator>
                                    </RadzenRow>
                                    <RadzenRow Style="justify-content: center !important;">
                                        <RadzenButton Style="width: 100%; margin-top: -1rem;" ButtonStyle="ButtonStyle.Success" Click="SaveFruits">Add</RadzenButton>
                                    </RadzenRow>
                                </RadzenStack>
                            </ChildContent>
                        </RadzenFieldset>
                    </RadzenColumn>

                    <RadzenColumn Size="3" class="rz-color-on-info-lighter rz-p-5">
                        <RadzenFieldset>
                            <HeaderTemplate>
                                <span class="d-inline-flex align-items-center align-middle">
                                    <img src="svg/egg.svg" />
                                    <b style="margin-left: 5px; font-size:smaller;">Dairy, Meats, and Animal Products (kg)</b>
                                </span>
                            </HeaderTemplate>
                            <ChildContent>
                                <RadzenStack Gap="1rem">
                                    <RadzenRow>
                                        <RadzenDropDown @bind-Value=@foodFormModel.MeatsId Data=@meatList TextProperty="FoodName" ValueProperty="FoodId" AllowClear=true Placeholder="Select product" Style="width: 100%; max-width: 400px;" AllowVirtualization="true"
                                                        AllowFiltering="true" />
                                    </RadzenRow>
                                    <RadzenRow>
                                        <RadzenColumn class="centered-content" Size="2">
                                            <RadzenButton Icon="remove" ButtonStyle="ButtonStyle.Light" Click="MinusMeats" />
                                        </RadzenColumn>
                                        <RadzenColumn class="centered-content" Size="8">
                                            <RadzenNumeric @bind-Value=@foodFormModel.MeatsAmount ShowUpDown="false" Name="Meat"></RadzenNumeric>
                                        </RadzenColumn>
                                        <RadzenColumn class="centered-content" Size="2">
                                            <RadzenButton Icon="add" ButtonStyle="ButtonStyle.Light" Click="AddMeats" />
                                        </RadzenColumn>
                                    </RadzenRow>
                                    <RadzenRow>
                                        <RadzenNumericRangeValidator Component="Meat" Min="0" Text="Quantity should be bigger than 0" Popup="true" Style="position: absolute; margin-top: -1rem;"></RadzenNumericRangeValidator>
                                    </RadzenRow>
                                    <RadzenRow Style="justify-content: center !important;">
                                        <RadzenButton Style="width: 100%; margin-top: -1rem;" ButtonStyle="ButtonStyle.Success" Click="SaveMeats" class="minus-top-gap">Add</RadzenButton>
                                    </RadzenRow>
                                </RadzenStack>
                            </ChildContent>
                        </RadzenFieldset>
                    </RadzenColumn>

                    <RadzenColumn Size="3" class="rz-color-on-info-lighter rz-p-5">
                        <RadzenFieldset>
                            <HeaderTemplate>
                                <span class="d-inline-flex align-items-center align-middle">
                                    <img src="svg/wine.svg" />
                                    <b style="margin-left: 5px; font-size:smaller;">Oils, Sweets, and Beverages (kg)</b>
                                </span>
                            </HeaderTemplate>
                            <ChildContent>
                                <RadzenStack Gap="1rem">
                                    <RadzenRow>
                                        <RadzenDropDown @bind-Value=@foodFormModel.OilsId Data=@otherList TextProperty="FoodName" ValueProperty="FoodId" AllowClear=true Placeholder="Select product" Style="width: 100%; max-width: 400px;" AllowVirtualization="true"
                                                        AllowFiltering="true" />
                                    </RadzenRow>
                                    <RadzenRow>
                                        <RadzenColumn class="centered-content" Size="2">
                                            <RadzenButton Icon="remove" ButtonStyle="ButtonStyle.Light" Click="MinusOils" />
                                        </RadzenColumn>
                                        <RadzenColumn class="centered-content" Size="8">
                                            <RadzenNumeric @bind-Value=@foodFormModel.OilsAmount ShowUpDown="false" Name="Oil"></RadzenNumeric>
                                        </RadzenColumn>
                                        <RadzenColumn class="centered-content" Size="2">
                                            <RadzenButton Icon="add" ButtonStyle="ButtonStyle.Light" Click="AddOils" />
                                        </RadzenColumn>
                                    </RadzenRow>
                                    <RadzenRow>
                                        <RadzenNumericRangeValidator Component="Oil" Min="0" Text="Quantity should be bigger than 0" Popup="true" Style="position: absolute; margin-top: -1rem;"></RadzenNumericRangeValidator>
                                    </RadzenRow>
                                    <RadzenRow Style="justify-content: center !important;">
                                        <RadzenButton Style="width: 100%; margin-top: -1rem;" ButtonStyle="ButtonStyle.Success" Click="SaveOils">Add</RadzenButton>
                                    </RadzenRow>
                                </RadzenStack>
                            </ChildContent>
                        </RadzenFieldset>
                    </RadzenColumn>
                </RadzenRow>
            </RadzenTemplateForm>
        </div>
        <div id="form-display-area" style="height: 50vh; width: 100vh;">
        @if(savedFoodList.Count > 0)
        {
            <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                            Data="@savedFoodList" TItem="SavedFood" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" Density="Density.Compact">
                <Columns>
                    <RadzenDataGridColumn TItem="SavedFood" Property="FoodItem.FoodName" Filterable="false" Title="Food" Width="40vh" TextAlign="TextAlign.Center" />
                    <RadzenDataGridColumn TItem="SavedFood" Property="FoodAmount" Filterable="true" Title="Amount" Width="40vh" TextAlign="TextAlign.Center" />
                    <RadzenDataGridColumn TItem="SavedFood" Width="20vh" Filterable="false" TextAlign="TextAlign.Center">
                        <Template Context="data">
                            <RadzenButton Icon="delete" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Danger" Click="@(() => DeleteItem(data))"></RadzenButton>
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        }
        </div>
    </div>
    <div id="visualization" class="content-section" style="background-color: red;">
        <h2>Visualization</h2>
    </div>
    <div id="tips" class="content-section" style="background-color: yellow;">
        <h2>Tips</h2>
    <div class="container-fluid">
        <div class="row p-3">
                <iframe width="600"
                        height="450"
                        style="border:0"
                        loading="lazy"
                        allowfullscreen
                        referrerpolicy="no-referrer-when-downgrade"
                        src="https://www.google.com/maps/embed/v1/search?key=AIzaSyA9RZqx7BJ2ywDCozbEflOBLXIjI8MnNms&q=foodbank+in+Melbourne&zoom=9">
                </iframe>
        </div>
    </div>
    </div>
    AIzaSyA9RZqx7BJ2ywDCozbEflOBLXIjI8MnNms

@code {
    bool isLoading;
    int count;

    private void ScrollToHome()
    {
        JSRuntime.InvokeVoidAsync("scrollToHome");
    }

    private void ScrollToInfo()
    {
        JSRuntime.InvokeVoidAsync("scrollToInfo");
    }

    private void ScrollToForm()
    {
        JSRuntime.InvokeVoidAsync("scrollToForm");
    }

    private void ScrollToVisualization()
    {
        JSRuntime.InvokeVoidAsync("scrollToVisualization");
    }

    private void ScrollToTips()
    {
        JSRuntime.InvokeVoidAsync("scrollToTips");
    }

    int zoom = 3;
    RadzenGoogleMap map;

    void OnMapClick(GoogleMapClickEventArgs args)
    {
    }

    async Task OnMarkerClick(RadzenGoogleMapMarker marker)
    {
        var message = $"Custom information about <b>{marker.Title}</b>";

        var code = $@"
var map = Radzen['{map.UniqueID}'].instance;
var marker = map.markers.find(m => m.title == '{marker.Title}');
if(window.infoWindow) {{window.infoWindow.close();}}
window.infoWindow = new google.maps.InfoWindow({{content: '{message}'}});
setTimeout(() => window.infoWindow.open(map, marker), 200);
";

        await JSRuntime.InvokeVoidAsync("eval", code);
    }
}