@page "/"
@inject NavigationManager NavigationManager

<h3>Please select an iteration</h3>

<a class="btn btn-primary" href="https://foodsaver.azurewebsites.net/iteration1">iteration1</a>
<a class="btn btn-primary" href="https://foodsaver.azurewebsites.net/iteration2">iteration2</a>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        NavigationManager.NavigateTo("/iteration2", true);
    }
}
