.navbar-nav .nav-item .nav-link.active {
    font-weight: bold;
}

.content-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#navbar {
    position: fixed;
}

#form-input-area {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
}