@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Food Saver</PageTitle>
<h3>Auto redirecting to iteration2</h3>

<a class="btn btn-primary" href="https://foodsaver.azurewebsites.net/iteration1">iteration1</a>
<a class="btn btn-primary" href="https://foodsaver.azurewebsites.net/iteration2">iteration2</a>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        NavigationManager.NavigateTo("/iteration2", true);
    }
}
