@page "/"
@inject IJSRuntime JSRuntime

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a @onclick="() => ScrollToHome()" class="btn btn-link nav-link nav-home active">Home</a>
            </li>
            <li class="nav-item">
                <a @onclick="() => ScrollToInfo()" class="btn btn-link nav-link nav-info">Info</a>
            </li>
            <li class="nav-item">
                <a @onclick="() => ScrollToForm()" class="btn btn-link nav-link nav-form">Form</a>
            </li>
            <li class="nav-item">
                <a @onclick="() => ScrollToVisualization()" class="btn btn-link nav-link nav-visualization">Visualization</a>
            </li>
            <li class="nav-item">
                <a @onclick="() => ScrollToTips()" class="btn btn-link nav-link nav-tips">Tips</a>
            </li>
        </ul>
    </div>
</nav>
    <div id="home" class="content-section" style="background-color: green;">
        <h2>Home</h2>
    </div>
    <div id="info" class="content-section" style="background-color: blue;">
        <h2>Info</h2>
    </div>
    <for id="form" class="content-section">
        <FoodFormComponent></FoodFormComponent>
    </for>
    <div id="visualization" class="content-section" style="background-color: red;">
        <h2>Visualization</h2>
    </div>
    <div id="tips" class="content-section" style="background-color: yellow;">
        <h2>Tips</h2>
    </div>


@code {
    private void ScrollToHome()
    {
        JSRuntime.InvokeVoidAsync("scrollToHome");
    }

    private void ScrollToInfo()
    {
        JSRuntime.InvokeVoidAsync("scrollToInfo");
    }

    private void ScrollToForm()
    {
        JSRuntime.InvokeVoidAsync("scrollToForm");
    }

    private void ScrollToVisualization()
    {
        JSRuntime.InvokeVoidAsync("scrollToVisualization");
    }

    private void ScrollToTips()
    {
        JSRuntime.InvokeVoidAsync("scrollToTips");
    }
}