<div id="tips">
    <div id="tips-title" style="background: linear-gradient(to right, #ad5389, #3c1053);">
        <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Style="height: 20rem; width: 100%;">
            <RadzenText TextStyle="TextStyle.DisplayH3" Style="color: white;">Tips to reduce food waste</RadzenText>
        </RadzenRow>
    </div>
    <MapSection />
    <ReminderSection />
    <RecipesSection />
</div>

@code {

}
