html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

text {
    font-family: "Raleway", sans-serif !important;
}

.btn-refesh {
    background: #009970 !important;
    color: white !important;
    border-radius: 50px !important;
    width: 15rem !important;
    font-family: "Poppins", sans-serif !important;
}

#autocomplete-results {
    border: 1px solid #ccc;
    position: absolute;
    display: none;
    padding: 5px;
    background: white;
}

    #autocomplete-results p {
        padding: 5px;
        cursor: pointer;
    }

        #autocomplete-results p:hover {
            background-color: #e0e0e0;
        }

.contact .shadow-form {
    width: 100%;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

    .contact .shadow-form input {
        height: 44px;
        border-radius: 0;
        box-shadow: none;
        font-size: 14px;
    }

    .contact .shadow-form button[type=submit] {
        background: #009970;
        border: 0;
        padding: 10px 30px;
        color: #fff;
        transition: 0.4s;
        border-radius: 50px;
    }

        .contact .shadow-form button[type=submit]:hover {
            background: #00805d;
        }

    .contact .shadow-form .form-group {
        padding-bottom: 2rem;
    }