@page "/Recipes"
@Html.AntiForgeryToken()
@using FoodSaver.Data
@model FoodSaver.Pages.RecipesModel
@{
    ViewData["Title"] = "Recipes Hub";
}
<script>
    let ingredientsList = [];
    let recipesIds = [];
    var token = $('[name="__RequestVerificationToken"]').val();
</script>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
        <div class="header-container d-flex align-items-center justify-content-between">
            <div class="logo">
                <h1 class="text-light"><a href="index.html"><span>Food Saver</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav id="navbar" class="navbar" style="margin-right: 5rem">
                <ul>
                    <li><a class="nav-link" href="/">Home</a></li>
                    <li><a class="nav-link" href="/Donation">Donation Points</a></li>
                    <li><a class="nav-link" href="/Reminder">Expire Reminder</a></li>
                    <li><a class="nav-link active" href="/Recipes">Recipes Hub</a></li>
                    <li><a class="nav-link" href="/Planner">Meal Planner</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div><!-- End Header Container -->
    </div>
</header><!-- End Header -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Recipes Hub</h2>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li>Recipes Hub</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    

    <section id="contact" class="contact">
        <div class="container" >
            <div class="row" >
                <div class="col-lg-4" data-aos="fade-right">
                    <div class="section-title">
                        <h2>Recipes</h2>
                        <p>Search and add your ingredients to list then click Search Recipes button to fetch cooking recipes based on ingredients you have.</p>
                    </div>
                </div>
                <div class="col-lg-5" data-aos="fade-up" data-aos-delay="100" style="padding-top: 0 !important">
                    <form class="shadow-form mt-4" style="height: 15rem" id="addIngredient">
                        <h5>Search Ingredient</h5>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" id="ingredient" placeholder="Type an ingredient ...">
                            <div id="autocomplete-results"></div>
                        </div>

                        <script>
                            const inputEl = document.getElementById('ingredient');
                            const resultList = document.getElementById('autocomplete-results');
                            var token = $('[name="__RequestVerificationToken"]').val();

                            inputEl.addEventListener('input', function () {
                                resultList.style.display = 'none';

                                if (inputEl.value.trim().length > 0) {
                                        const settings = {
                                            async: true,
                                            crossDomain: true,
                                            url: `https://spoonacular-recipe-food-nutrition-v1.p.rapidapi.com/food/ingredients/autocomplete?query=${inputEl.value}&number=5`,
                                            method: 'GET',
                                            headers: {
                                                'X-RapidAPI-Key': 'bffaa60994mshad99b0c495fe234p1bbc5fjsn7179305ed32f',
                                                'X-RapidAPI-Host': 'spoonacular-recipe-food-nutrition-v1.p.rapidapi.com',
                                                "RequestVerificationToken": token
                                            }
                                        };

                                        $.ajax(settings).done(function (response) {
                                            if (response.length) {
                                                resultList.innerHTML = '';
                                                resultList.style.display = 'block';
                                                response.forEach(ingredient => {
                                                    
                                                    const listItem = document.createElement('p');
                                                    listItem.textContent = ingredient.name;
                                                    listItem.addEventListener('click', function () {
                                                        inputEl.value = ingredient.name;
                                                        resultList.style.display = 'none';
                                                    });
                                                    resultList.appendChild(listItem);
                                                });
                                            }
                                        });
                                }
                            });
                        </script>
                        <div class="text-center">
                            <button type="submit" onclick="addToList()" style="margin-top: 30px">Add to List <i class="bi bi-arrow-right"></i></button>
                        </div>
                    </form>
                    <script>
                        const formElement = document.getElementById('addIngredient');

                        formElement.addEventListener('submit', function (e) {
                            if (inputEl.value.trim() === "") {
                                e.preventDefault(); // Prevent form submission
                            }
                        });
                    </script>
                </div>
                <div class="col-lg-3" data-aos="fade-left" data-aos-delay="100">
                    <div class="shadow-form mt-4" style="height: 15rem">
                        <h5>Ingredient List</h5>
                        <div id="listContainer" style="overflow-y: auto; overflow-x: hidden; height: 10rem" class="mt-3">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <section class="portfolio" style="padding-top: 0 !important;">
        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <button class="green-btn" onclick="fetchRecipes()" style="width: 20rem" data-aos="zoom-in" data-aos-delay="100">
                    Search Recipes
                </button>
            </div>
        </div>
        <div class="col-lg-12 d-flex justify-content-center mt-3">
            <h5 id="resultTile"></h5>
        </div>
        <div class="container" style="margin-top: 30px; margin-bottom: 60px">
            <div class="row" id="recipesContainer"></div>
        </div>
    </section>

</main><!-- End #main -->
